server:
  servlet:
    context-path: /api

spring:
  cache:
    type: redis
  redis:
    # ????
#    host: localhost
    # ????
    host: k7a1061.p.ssafy.io
    port: 6379
    password: yfass1234

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 100MB

  # swagger ??
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    #  ????
#    url: jdbc:mysql://localhost:3306/weplog?useUnicode=true&autoReconnect=true&characterEncoding=utf8&allowMultiQueries=true&serverTimezone=UTC
#    username: ssafy
#    password: ssafy

    # ec2 DB? ??
    url: jdbc:mysql://k7a1061.p.ssafy.io:3306/weplog?useSSL=false&useUnicode=true&autoReconnect=true&characterEncoding=utf8&allowMultiQueries=true&serverTimezone=UTC
    username: ssafy
    password: yfass1234


  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 500
        #        show_sql: false
        format_sql: true
        show_sql: true

    open-in-view: false

  data:
    mongodb:
      #      username: ssafy
      #      password: yfass1234
      #      authentication-database: admin
      auto-index-creation:
      uri: mongodb://ssafy:yfass1234@k7a1061.p.ssafy.io:27017/weplog
#      uri: mongodb://localhost:27017/weplog
    #      host: j7a603.p.ssafy.io
    #      port: 27017
    #      database: rideus

    web:
      pageable:
        default-per-size: 20
        max-page-size: 2000

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: b834a23c18a62707b7f97e56c265b1ea
            client-secret: U9tewPfeCxOmPfoFCySMQFCWZ4e3MRze
#            redirect-uri: https://j7a603.p.ssafy.io/api/oauth2/callback/kakao
            redirect-uri: http://localhost:8080/api/oauth2/callback/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: POST
            client-name: Kakao
            scope:
              - account_email
              - profile_image
          naver:
            client-id: OQue5nz4eWJjpO9PSNY3
            client-secret: T98vh3ToEn
            redirect-uri: http://localhost:8080/api/oauth2/callback/naver
            authorization-grant-type: authorization_code
            scope:
              - email
              - profile_image
          google:
            client-id: 867056260420-qm92mop4qnqtjl3dtt5bjfutpqbqoksa.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: http://localhost:8080/api/oauth2/callback/google
            scope:
              - profile
              - email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

  task:
    scheduling:
      pool:
        size: 10

token:
  # ?? ??
  expiration_time: 86400000
  secret: secretcode
  refresh-cookie-key: refresh

oauth2:
  # ????? ??
  #  authorizedRedirectUri: http://localhost:3000/oauth2/redirect
  authorizedRedirectUri: https://j7a603.p.ssafy.io/oauth2/redirect
cloud:
  aws:
    credentials:
      accessKey: AKIASQN6UNY6TV5Y5GEP
      secretKey: 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
    s3:
      bucket: weplog-image
    region:
      static: ap-northeast-2
    stack:
      auto: false

logging:
  level:
    org.hibernate.SQL: debug
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: debug

kakao:
  restapikey:

